.root {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
    position: relative;
}

.backBtn {
    position: absolute;
    color: white;
    background: inherit;
    top: -32px;
    right: 8px;
    border: none;
    cursor: pointer;
    transition: color 0.1s ease-in-out;
    font-size: 16px;
}

.backBtn:hover {
    color: #c6c6c6;
}

.image {
    border: 2px solid #C08F54;
    height: 150px;
    width: 100%;
    max-width: 150px;
    border-radius: 16px;
    object-fit: cover;
}

.info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
}

.title {
    font-weight: 500;
    color: #ddd6d0;
    font-size: 24px;
}

.secondaryInfo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
}

.sellerName {
    color: #ddd6d0;
}