.nav {
    height: 40px;
    width: 100%;
    background: #5E2C3A;
    display: flex;
}

.navButton {
    width: 100%;
    border: none;
    background: inherit;
    color: #5E2C3A;
    font-weight: 500;
    cursor: pointer;
    transition: 0.15s ease-in-out;
    border-radius: 8px;
}

.navButtonDisabled:hover {
    background: #F5E6D3;
}

.navButtonActive {
    border-left: 2px solid #B87333;
    border-right: 2px solid #B87333;
}
